.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f5f7fa; /* 은은한 배경색 */
    color: #333;
}

.main-h2 {
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: #2c3e50; /* 진한 네이비 */
    color: #fff;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* The #map ID is used by Leaflet in MapComponent */
#map {
    width: 100%;
    height: calc(100vh - 60px); /* 제목 높이만큼 빼기 */
    border-top: 3px solid #2c3e50;
}


.app.light {
  background-color: white;
  color: black;
  min-height: 100vh;
}
.app.dark {
  /* background-color: #121212;
  color: white; */
  min-height: 100vh;
  filter: invert(1) hue-rotate(180deg) grayscale(0.2)
  /* 색상 반전 100%, 색조 회전 180도, 흑백화 20% */
  /* 완전 반전(invert) + 보색 유지(hue-rotate) + 
  약간의 흑백화(grayscale)"를 통해 이미지를 자연스러운 다크 모드 스타일 */
}
.btn-light {
  background-color: #f0f0f0;
  color: #000;
  border: none;
  float: left;
  margin: 20px;
  border-radius: 3px;
}
.btn-dark {
  background-color: #333;
  color: #fff;
  border: none;
  float: left;
  margin: 20px;
  border-radius: 3px;
}
.location-refresh{
  position: absolute;
  right: 20px;
  bottom: 30px;
  z-index: 1000;
  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  background-color: #2c3e50;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.location-refresh:hover {
  background-color: #34495e; /* 살짝 밝은 톤으로 hover 효과 */
}